<div class="news-box">
    <div class="news-box-content">
        <h3><%= link_to post.title, blogo_post_path(post), :class => "news-link" %></h3>
        <div class="h-10"></div>
        <p><%= raw post_overview(post) %></p>
        <div class="h-10"></div>
        <%= link_to "Read more", blogo_post_path(post), :class => "btn btn-brown btn-xs" %>
    </div>
</div>



