<!-- footer -->
    <footer>
        <a href="#home" class="back-to-top"><i class="ion-arrow-up-c"></i></a>
        <h3>Get in touch!</h3>
        <h5>Let’s create something amazing</h5>
        <div class="h-20"></div>

        <ul class="footer-ul">
            <li><a href="https://www.facebook.com/renatgayanovbarber/?hc_ref=PAGES_TIMELINE&fref=nf"><i class="ion-social-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/renatgayanov/"><i class="ion-social-instagram"></i></a></li>
            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
        </ul>
    </footer>
<!--/ .footer -->